<main>
<header *ngIf="!isMobileView" style="padding: 0;">
        <h3>Stock Search</h3>
        <nav>
            <ul>
                <li>
                    <a class="button" [ngClass]="[searchStyle]" routerLink="/search" routerLinkActive="activebutton" (click)="Search()">Search</a>
                </li>
                <li>
                    <a class="button" [ngClass]="[wlStyle]" routerLink="/watchlist" routerLinkActive="activebutton" (click)="Watchlist()">Watchlist</a>
                </li>
                <li>
                    <a class="button" [ngClass]="[pfStyle]" routerLink="/portfolio" routerLinkActive="activebutton" (click)="Portfolio()">Portfolio</a>
                </li>
            </ul>
        </nav>
</header>
<header *ngIf="isMobileView">
    <nav class="navbar">
        <div class="container">
            <h3>Stock Search</h3>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link button" [ngClass]="[searchStyle]" routerLink="/header" routerLinkActive="activebutton" (click)="Search()">Search</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link button" [ngClass]="[wlStyle]" routerLink="/watchlist" routerLinkActive="activebutton" (click)="Watchlist()">Watchlist</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link button" [ngClass]="[pfStyle]" routerLink="/portfolio" routerLinkActive="activebutton" (click)="Portfolio()">Portfolio</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="content-container">
<router-outlet></router-outlet>
</div>
<div class="footer-container">Powered by <a href="https://finnhub.io">Finhub.io</a></div>
</main>

