<form id="stockform" (ngSubmit)="search_results()" method="get" #stockForm="ngForm">
  <div id="inputWrapper">
    <div class="title-for-form">STOCK SEARCH</div>
    <div class="input-container">
      <input matInput type="text" id="stock_ticker" name="stock_ticker" [(ngModel)]="tickerValue" (input)="onInput()" 
        placeholder="Enter Stock Ticker Symbol" required #tickerInput="ngModel" />
      <mat-autocomplete #auto="matAutocomplete" [panelWidth]="autocompleteWidth">
        <mat-option *ngFor="let option of autocompleteOptions" [value]="option.symbol">
          {{ option.symbol }} | {{ option.description }}
        </mat-option>
      </mat-autocomplete>
      <button type="submit" class="search-icon button">
        <i class="bi bi-search"></i>
      </button>
      <button type="button" class="clear-icon button" (click)="clear_results()">
        <i class="bi bi-x"></i>
      </button>
    </div>
  </div>
  <div *ngIf="stockForm.submitted && tickerInput.invalid" class="alert alert-danger alert-dismissible fade show mb-3"
    role="alert">
    Please enter a valid sticker.
    <button type="button" class="close" aria-label="Close" (click)="clearInvalidTicker()">
      <i class="bi bi-x"></i>
    </button>
  </div>
  <div *ngIf="showNoDataMessage" class="alert alert-danger alert-dismissible fade show mb-3" role="alert">
    No data found. Please enter a valid Ticker.
  </div>
</form>
<div *ngIf="boughtSymbol" class="alert alert-success alert-dismissible fade show mb-3" role="alert">
  {{ boughtSymbol }} bought successfully.
  <button type="button" class="close" aria-label="Close" (click)="closeboughtMessage()">
    <i class="bi bi-x"></i>
  </button>
</div>

<div *ngIf="soldSymbol" class="alert alert-danger alert-dismissible fade show mb-3" role="alert">
  {{ soldSymbol }} sold successfully.
  <button type="button" class="close" aria-label="Close" (click)="closesoldMessage()">
    <i class="bi bi-x"></i>
  </button>
</div>
<div *ngIf="!showNoDataMessage && !tickerInput.invalid" class="center-container">
  <div class="search_data">
    <div *ngIf="submitted && combinedData" class="combined-data">
      <div *ngFor="let searchItem of combinedData.search_result">
        <h3>Description: {{ searchItem.description }}</h3>
        <ul>
          <li>Count: {{ searchItem.count }}</li>
          <li>Display Symbol: {{ searchItem.displaySymbol }}</li>
          <li>Symbol: {{ searchItem.symbol }}</li>
          <li>Type: {{ searchItem.type }}</li>
        </ul>
      </div>
      <div class="profile-info" *ngIf="!isMobileView">
        <div class="container">
          <div class="row">
            <div class="col-md-4 profile-data">
              <h1 class="header-with-star">
                {{ combinedData.profile_data.symbol }}
                <span class="star-container" (click)="toggleStar()">
                  <svg *ngIf="isStarFilled" width="0.5em" height="0.5em" viewBox="0 0 16 16"
                    class="bi bi-star-fill mx-1 my-0" fill="#FFC300" xmlns="http://www.w3.org/2000/svg">
                    <path class="star-fill-icon"
                      d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                  </svg>
                  <i class="bi bi-star star" *ngIf="!isStarFilled"></i>
                </span>
              </h1>
              <p class="company-name">{{ combinedData.profile_data.company_name }}</p>
              <p class="exchange">{{ combinedData.profile_data.exchange }}</p>
              <div class="button-container">
                <button (click)="buystock('buy')" class="btn btn-success buy" data-toggle="modal"
                  data-target="#buysellModal">Buy</button>
                <button (click)="sellstock('sell')" class="btn btn-danger" data-toggle="modal" *ngIf="sellButtonActive"
                  data-target="#buysellModal">Sell</button>
              </div>
            </div>
            <div class="col-md-4 logo-data">
              <div class="logo-container">
                <img src="{{ combinedData.profile_data.logo }}" alt="Company Logo" />
              </div>
            </div>
            <div class="col-md-4 quote-data">
              <div class="quote-info">
                <h1 [ngClass]="{
                negative: combinedData.quote_data.change < 0,
                positive: combinedData.quote_data.change > 0
              }">
                  {{ combinedData.quote_data.last_price | number:'1.2-2' }}
                </h1>
                <h2 [ngClass]="{
                negative: combinedData.quote_data.change < 0,
                positive: combinedData.quote_data.change > 0
              }">
                  <i class="bi bi-caret-up-fill" *ngIf="combinedData.quote_data.change > 0"></i>
                  <i class="bi bi-caret-down-fill" *ngIf="combinedData.quote_data.change < 0"></i>
                  {{ combinedData.quote_data.change | number:'1.2-2' }} ({{ combinedData.quote_data.percent_change |
                  number:'1.2-2' }}%)
                </h2>
                <p class="dateTime">{{ dateAndtime }}</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 marketStatus">
              <p [style.color]="isMarketOpen() === 'Market is Open' ? 'green' : 'red'">
                {{ isMarketOpen() }}
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="profile-info" *ngIf="isMobileView">
        <div class="container">
          <div class="row">
            <div class="col-md-4 profile-data">
              <h1 class="header-with-star">
                {{ combinedData.profile_data.symbol }}
                <span class="star-container" (click)="toggleStar()">
                  <i class="bi bi-star star"
                    [ngClass]="{ filled: isStarFilled, yellow: isStarYellow, black: !isStarYellow }"></i>
                </span>
              </h1>
              <p class="company-name">{{ combinedData.profile_data.company_name }}</p>
              <p class="exchange">{{ combinedData.profile_data.exchange }}</p>
              <div class="button-container">
                <button (click)="buystock('buy')" class="btn btn-success buy" data-toggle="modal"
                  data-target="#buysellModal">Buy</button>
                <button (click)="sellstock('sell')" *ngIf="sellButtonActive" class="btn btn-danger" data-toggle="modal"
                  data-target="#buysellModal">Sell</button>
              </div>
            </div>
            <div class="col-md-4 logo-data">
              <div class="logo-container">
                <img src="{{ combinedData.profile_data.logo }}" alt="Company Logo" />
              </div>
            </div>
            <div class="col-md-4 quote-data">
              <div class="quote-info">
                <h1 [ngClass]="{
                negative: combinedData.quote_data.change < 0,
                positive: combinedData.quote_data.change > 0
              }">
                  {{ combinedData.quote_data.last_price | number:'1.2-2' }}
                </h1>
                <h2 [ngClass]="{
              negative: combinedData.quote_data.change < 0,
              positive: combinedData.quote_data.change > 0
            }">
                  <i class="bi bi-caret-up-fill" *ngIf="combinedData.quote_data.change > 0"></i>
                  <i class="bi bi-caret-down-fill" *ngIf="combinedData.quote_data.change < 0"></i>
                  {{ combinedData.quote_data.change | number:'1.2-2' }} ({{ combinedData.quote_data.percent_change |
                  number:'1.2-2'}}%)
                </h2>
                <p class="dateTime">{{ dateAndtime }}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 marketStatus">
            <p [style.color]="isMarketOpen() === 'Market is Open' ? 'green' : 'red'">
              {{ isMarketOpen() }}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="stockForm.submitted || submitted">
      <mat-tab-group #tabGroup [selectedIndex]="0" (selectedTabChange)="handleTabChange($event)">
        <mat-tab label="Summary">
          <ng-template matTabContent>
            <div *ngIf="combinedData && summaryData" class="tab-content">
              <div class="summarygridcontainer">
                <div class="pricesContainer">
                  <p><strong>High Price:</strong> {{ combinedData.quote_data.highprice }}</p>
                  <p><strong>Low Price:</strong> {{ combinedData.quote_data.lowprice }}</p>
                  <p><strong>Open Price:</strong> {{ combinedData.quote_data.openprice }}</p>
                  <p><strong>Prev. Close:</strong> {{ combinedData.quote_data.prevprice }}</p>
                </div>
                <div class="aboutPeersContainer">
                  <h2 class="titleAbout">About the company</h2>
                  <p><strong>IPO Start Date: </strong> {{ combinedData.profile_data.ipo }}</p>
                  <p><strong>Industry: </strong> {{ combinedData.profile_data.ind }}</p>
                  <p><strong>Webpage: </strong> <a href="{{ combinedData.profile_data.webpage }}" target="_blank">{{
                      combinedData.profile_data.webpage }}</a></p>
                  <p><strong>Company Peers: </strong></p>
                  <ul>
                    <ng-container *ngFor="let peer of summaryData.peers; let last = last">
                      <li style="display: inline;">{{ peer }}</li>
                      <span *ngIf="!last">, </span>
                    </ng-container>
                  </ul>
                </div>
                <div id="hourlychartContainer">
                  <highcharts-chart [Highcharts]="highcharts"
                  [options]="hourlyChartOptions" style="width: 100%; height: 400px; display: block">
                </highcharts-chart>
                </div>
              </div>
            </div>
          </ng-template>
        </mat-tab>
        <mat-tab label="Top News">
          <ng-template matTabContent>
            <div *ngIf="topNewsData" class="card-container">
              <div class="row">
                <div class="col-md-6 mb-4 card-box" *ngFor="let newsItem of topNewsData">
                  <div type="button" class="card" (click)="openNewsModal(newsItem)" data-toggle="modal"
                    data-target="#newsModal">
                    <div class="image-container">
                      <img class="card-img-top" [src]="newsItem.thumbnail" alt="Thumbnail">
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">{{ newsItem.headline }}</h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </mat-tab>
        <mat-tab label="Charts">
          <ng-template matTabContent>
            <div class="tab-content">
              <div id="charts-container"></div>
            </div>
          </ng-template>
        </mat-tab>
        <mat-tab label="Insights">
          <ng-template matTabContent>
            <div *ngIf="insightsData" class="tab-content">
              <div *ngIf="insightsData" class="insights">
                <table class="insights-table">
                  <caption style="caption-side: top;">Insider Sentiments</caption>
                  <tr>
                    <th>{{ combinedData.profile_data.company_name }}</th>
                    <th>MSPR</th>
                    <th>Change</th>
                  </tr>
                  <tr>
                    <td style="font-weight: bold;">Total</td>
                    <td>{{ insightsData.Total_MSPR | number:'1.2-2' }}</td>
                    <td>{{ insightsData.Total_Change }}</td>
                  </tr>
                  <tr>
                    <td style="font-weight: bold;">Positive</td>
                    <td>{{ insightsData.Positive_MSPR | number:'1.2-2' }}</td>
                    <td>{{ insightsData.Positive_Change }}</td>
                  </tr>
                  <tr>
                    <td style="font-weight: bold;">Negative</td>
                    <td>{{ insightsData.Negative_MSPR | number:'1.2-2' }}</td>
                    <td>{{ insightsData.Negative_Change }}</td>
                  </tr>
                </table>
                <div style="display: flex;" class="insight-charts">
                  <highcharts-chart [Highcharts]="highcharts" [options]="chartOptions"
                    class="custom-chart trends"></highcharts-chart>
                  <highcharts-chart [Highcharts]="highcharts" [options]="historicalChartOptions"
                    class="custom-chart history"></highcharts-chart>
                </div>
              </div>
            </div>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>

<ng-template #newsModal>
  <div class="modal fade newsmodal" data-backdrop="false" id="newsModal" tabindex="-1" role="dialog"
    aria-labelledby="newsModalLabel" aria-hidden="true" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="newsmodal modal-header">
          <div class="modal-title" id="modal-basic-title">
            <h2 class="m-0">{{ newsmodal.source }}</h2>
            <div class="text-black-50 m-0">
              {{ formattedDateAndTime }}
            </div></div>
            <button type="button" class="close" data-dismiss="modal" (click)="closeNewsModal()">&times;</button>
        </div>
        <div class="modal-body">
          <h2 class="headline">{{ newsmodal.headline }}</h2>
          <p class="summary">{{ newsmodal.summary }}</p>
          <p>For more details click here <a href="{{ newsmodal.url }}" target="_blank">Read more</a></p>
        </div>
        <div class="modalFooter">
          <div>
            <p style="font-weight: bold; color: #919294">Share</p>
          </div>
          <div class="share-buttons">
            <a class="twitter-share-button"
              href="https://twitter.com/intent/tweet?url={{ newsmodal.url }}&text={{ newsmodal.headline }}"
              target="_blank" data-show-count="false"><i style="font-size:24px;" class="bi bi-twitter-x"></i></a>
            <a class="facebook-share-button" href="https://www.facebook.com/sharer/sharer.php?u={{ newsmodal.url }}"
              target="_blank">
              <i class="bi bi-facebook" style="font-size:26px;color:#0061ff;"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<div class="modal fade" data-backdrop="false" id="buysellModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel"
  aria-hidden="true" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <p *ngIf="combinedData?.profile_data?.symbol">{{ this.combinedData.profile_data.symbol }}</p>
        <button type="button" class="close-button modalclose" aria-label="Close" data-dismiss="modal">
          <i class="bi bi-x"></i>
        </button>
      </div>
      <div class="modal-body">
        <p class="current-price-label">Current Price: {{ this.combinedData?.quote_data?.last_price }}</p>
        <p *ngIf="balanceAmount">Money in Wallet: {{ this.balanceAmount | number:'1.2-2' }}</p>
        <div class="form-container">
          <p>Quantity: </p>
          <input type="number" class="input-quant" placeholder="Enter quantity" [(ngModel)]="quantity"
            (input)="checkTotal()">
        </div>
        <p *ngIf="buysellaction == 'buy' && totalExceedsBalance" style="color: red; font-weight: bold; padding-top: 5px;">Not enough money in wallet!</p>
        <p *ngIf="buysellaction == 'sell' && notEnoughStocks" style="color: red; font-weight: bold; padding-top: 5px;">You cannot sell the stocks that you don't have!</p>
      </div>
      <div class="modal-footer">
        <p *ngIf="getTotal() !== undefined">Total: {{ getTotal() | number:'1.2-2' }}</p>
        <button *ngIf="buysellaction == 'buy'" class="btn btn-success" [disabled]="quantity <= 0 || totalExceedsBalance"
          (click)="buy()">Buy</button>
        <button *ngIf="buysellaction == 'sell'" class="btn btn-danger" [disabled]="quantity <= 0"
          (click)="sell()">Sell</button>
      </div>
    </div>
  </div>
</div>