.dialog-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.symbol-label {
  font-weight: bold;
}

.current-price-label {
  font-weight: bold;
  margin-top: 10px;
}

.close-button {
  margin-top: 20px;
}
